<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/posts">Posts</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/auth/signup">Sign Up</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="/auth/signin">Sign In</a>
  </li>

</ul>