<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Google Fonts }}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap"
      rel="stylesheet"
    />

    {{! Boostwatch}}
    <link rel="stylesheet" href="/css/bootstrap.css" />

    <link rel="stylesheet" href="/css/styles.css" />

      <!--iconos-->
    <script
      src="https://kit.fontawesome.com/4b9bb66909.js"
      crossorigin="anonymous"
    ></script>

    <title>{{title}}</title>
  </head>
  <body>

    {{> navbar}}

    <div class="container" id="home">
      <div class="row">
        {{{body}}}
      </div>
    </div>

    
    
    <a href="#home" class="boton-arriba bg-primary"
        ><i class="fa-solid fa-angles-up"></i>
    </a>



    <script src="/js/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.all.min.js"
    ></script>

  </body>
</html>