<div class="margin-mas-grande home">

  {{#each posts}}
    <div class="m-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
          <h4 class="card-title">{{this.title}}</h4>
          <p class="card-text">{{this.body}}</p>
          <a href="/posts/{{this.slug}}" class="btn btn-info">Ver más...</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>